<div class="container">
    <div class="row ">
      <div class="col-md-6">
        <h3>Recommendation Engine</h3>
        <p>One of the efficient services of Artificial Intelligence and Machine learning is the Recommendation Engine. The Engine 
            helps to search and give you personalized suggestions, boost sales, and enhance user experience. It is frequently used 
            in the e-commerce sector, lifestyle sector, and more.</p>
        </div>
      <div class="col-md-6">
        <img src="../../../assets/images/image 78.png" width="400"height="300">
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row  flex-column-reverse flex-md-row">
  
      <div class="col-md-6">
        <img src="../../../assets/images/image 78.png" width="400" height="300">
      </div>
      <div class="col-md-6">
        <h3>Process Automation</h3>
        <p>Process Automation is used for the automation of repetitive tasks. It includes several assignments where it helps to 
            optimize resources, save time and be cost-effective. Thus, process Automation enhances business workflow and 
            increases the execution speed of operations.</p>
      </div>
      </div>
     
    </div>
    
  
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Voice-based AI:</h3>
          <p>Voice-based AI has ruled the market and increased the demand by applying it for several purposes. Siri, Alexa, Google 
            Assistant, and others are famous examples of Voice-based personal Artificial Intelligent Assistants. We provide 
            personalized assistants and customize them to engage the customers. Moreover, we ensure it to make it more 
            dynamic</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/images/image 78.png" width="400" height="300">
        </div>
      </div>
    </div>
    
  
    <div class="container">
      <div class="row  flex-column-reverse flex-md-row ">
    
        <div class="col-md-6">
          <img src="../../../assets/images/image 78.png" width="400" height="300">
        </div>
        <div class="col-md-6 ">
          <h3>Chatbots</h3>
          <p>Another useful service of Artificial Intelligence and Machine learning is Chatbots. AI-enabled Chatbots enable to have 
            a conversation through bots and make humans interact with the machine more engaging. The Chatbots help to solve 
            the query and responsd 24/7. It is easy to function and very useful for the business.</p>
        </div>
        </div>
       
      </div>
    
  
      <div class="container">
        <div class="row ">
          <div class="col-md-6">
            <h3>Inventory Optimization</h3>
            <p>nventory Optimization helps to optimize and streamline productions. Artificial Intelligence allows businesses to figure 
                out sales and overall consumption of the product. It helps to predict forecasts and improve the method of the supply 
                chain. We help to create business strategies and improve the functions of businesses. Our team assures us to solve 
                complex problems and enhance business productivity.</p>
          </div>
          <div class="col-md-6">
            <img src="../../../assets/images/image 78.png" width="400" height="300">
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row ">
          <div class="col-md-6">
            <img src="../../../assets/images/image 78.png" width="400"height="300">
          </div>
          <div class="col-md-6">
            <h3>Image Processing</h3>
            <p>Artificial Intelligence and Machine learning are used to recognize the image, object, or any other images. Image 
                processing helps identify a particular thing, scale pictures, remember the image's pattern, and more. It is frequently 
                used in the medical sector, security industry, and more. We present image processing services that provide accuracy. 
                Our team offers exceptional image processing service that helps you to increase the growth of the business.</p>
            </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row  flex-column-reverse flex-md-row">
       
          <div class="col-md-6">
            <h3>Object Recognition</h3>
            <p>Object recognition is applied to identify appropriate objects from images and obtain valuable information for 
                additional use. Therefore, it needs expanded use of Artificial Intelligence, Machine Learning and Neural networks. 
                Smart search engines, identifying particular things, human image and video, distinguishing text in pictures, and more 
                are object recognition applications. Object recognition makes human work more effortless.</p>
          </div>
          <div class="col-md-6">
            <img src="../../../assets/images/image 78.png" width="400"height="300">
          </div>
          