<div class="container">
    <div class="row ">
      <div class="col-md-6">
        <p>Our IoT services are designed to meet the diverse needs of modern businesses across industries, from manufacturing 
            and healthcare to retail and smart cities. Whether you're looking to track and monitor assets in real-time, automate 
            processes for increased efficiency, or gain actionable insights from IoT data, we have the expertise and experience to 
            deliver customized solutions tailored to your specific requirements.</p>
        </div>
      <div class="col-md-6">
        <img src="../../../assets/images/image 78.png" width="400"height="300">
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row  flex-column-reverse flex-md-row">
  
      <div class="col-md-6">
        <img src="../../../assets/images/image 78.png" width="400" height="300">
      </div>
      <div class="col-md-6">
        
        <p>With a team of skilled IoT engineers, data scientists, and software developers, we offer end-to-end IoT services, from 
            strategy and design to implementation and support. We work closely with our clients to understand their unique 
            challenges and objectives, ensuring that our IoT solutions not only meet their immediate needs but also align with 
            their long-term business goals.</p>
      </div>
      </div>
     
    </div>
    
  
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          
          <p>At Lakshya, we believe that IoT technology has the potential to transform industries and drive digital innovation. 
            Whether you're a small startup or a multinational corporation, our IoT services can help you unlock new 
            opportunities, optimize operations, and stay ahead of the competition in today's fast-paced business environment.
            Explore our range of IoT services and discover how Lakshya can help you harness the power of IoT to drive growth 
            and success for your business.
         
            </p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/images/image 78.png" width="400" height="300">
        </div>
      </div>
    </div>
    
  
   
      
      
  
  
  
