    
    <h1 class="aboutus">About Us</h1>
    <br><br><br><br>
    <div class="row">
      <div class="col-lg-8">
        <img src="../../assets/images/aboutus.jpg">alt="noimage" width="850" height="500" >
        </div>
        <div class="col-lg-4">
          <h3>Who we are</h3>
          <h1>SMART<br>
          PLATFORM<br>
          INTEGRATION</h1>
          <p>Lakshya software technologies were
             founded in the year
             2014.<p>
             </div>
        </div>
        <br><br><br><br><br><br>
        <div class="row">
          <div class="col-lg-4">
            <h2>Innovative<br>
              and<br>
              existing<br>
              product
            </h2>
            
            <p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
               Montes est massa. Cum sociis Theme nato</p>
          </div>
          <div class="col-lg-4">
            <h2>Innovative <br>
            and <br>
          existing<br>
        product</h2>
            
            <p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
               Montes est massa. Cum sociis Theme nato</p>
          </div>
          <div class="col-lg-4">
            <h2>Innovative <br>
              and <br>
            existing<br>
          product</h2>
            <p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
               Montes est massa. Cum sociis Theme nato</p>
        
        </div>
        </div>
        <br><br><br><br><br><br>
    <div class="row">
        <div class="col-lg-6">
            <h3>BRANDS</h3>
            <h2>TRUSTED AND <br>
            SUPPORTED<br>BY MANY</h2>
            <div class="hover-titles">
    
    <div class="hoverable-button">Design</div>
    <div class="display-on-hover">ut aliquip ex ea commodo Duis aute irure euripidis ne mel, 
        mel lobortis viverra nulla varius laoreet</div>
    <div class="hoverable-button">Marketing</div>
    <div class="display-on-hover">ex ea commodo Duis aute irure euripidis ne mel, 
        mel lobortis viverra nulla varius laoreet</div>
    <div class="hoverable-button">Devs</div>
    <div class="display-on-hover">irure euripidis ne mel, 
        mel lobortis viverra nulla varius laoreet</div>
    <hr>
    </div>
    </div>
    <div class="col-lg-6">
        <!-- <img src="../../assets/images/aboutus.jpg" alt="noimage" width="700" height="500"> -->
    </div>
    </div>
    <br><br><br><br><br><br>
        <div class="flex-container">
            <div class="flex-container1">
                
        
                <h3 >JOIN OUR TEAM</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit
                     voluptatem accusantium doloremque</p>
                
                </div>
            <div class="flex-container2">
                
                <h3>OUR NEWS LETTER</h3>
                <p >Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium doloremque laudanti<br>
                    i am va,so</p>
            
            </div>
        </div>
        
        
        
       
           
             
        
        

        
        

            

        
     



            

