
p{font-size: 18px;
    line-height:1.6;
    font-family: Verdana;

}
.aboutus{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
}



.flexbox1{
    display:flex;
    justify-content: space-around;
}
.flex-container{

    display:flex;
    justify-content: space-evenly;
  
}

    

.flex-item{
    padding:10px;
    margin-bottom: 10px;
}



.toggle-headlines{
    display:flex;
    justify-content: space-between;
    
}



.flex-container1{
    background-color: skyblue;
    padding:50px;
    text-align: center;
}
.flex-container2{
    background-color: darkgrey;
    padding:50px;
    text-align: center;
}


  
  

  





