<h1 class="aboutus" style="font-family:Syne">About Us</h1>
<div class="row mt-5">
  <div class="col-lg-8">
    <img src="../../assets/images/aboutus.jpg" alt="noimage" width="900" height="500">
  </div>
  <div class="col-lg-4 ">
    <h3 style="color:darkgray;letter-spacing:4px;font-size: 18px;">WHO WE ARE</h3>
    <h1>SMART<br>
      PLATFORM<br>
      INTEGRATION</h1>
    <p>We are a dedicated team of tech enthusiasts, innovators, and problem solvers committed to
      redefining the software landscape. Since our inception in [Year], we have been at the forefront
      of technological advancements, delivering exceptional
      software solutions that drive transformation and success for businesses across various industries.
    <p>
  </div>
</div>

<div class="container">


<div class="row mt-5">
  <div class="col-lg-4">
    <div class="flex-container">
      <div class="flex-item">
        <h2>OUR<br> MISSION
        </h2>
        <p>Our mission is to harness the power of technology to create innovative software solutions
          that drive progress and enhance lives. We are dedicated to empowering businesses by providing
          cutting-edge, customized software that streamlines operations, boosts productivity, and fosters growth.
        </p>
      </div>
    </div>
  </div>


  <div class="col-lg-4">
    <div class="flex-container ">
      <div class="flex-item">
        <h2>OUR <br> VISION</h2>

        <p>We envision a future where technology seamlessly integrates into every aspect of business, 
          driving growth and enabling new possibilities. Our goal is to
           be at the forefront of this transformation, leading the way with innovative software solutions</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="flex-container ">
      <div class="flex-item">
        <h2>OUR<br> VALUES
        </h2>
        <p> We strive for excellence in every project, upholding the highest standards of quality and performance. Our
          customer focus ensures that we place our clients' needs at the forefront, delivering solutions that drive
          their success and satisfaction.</p>

      </div>
    </div>
  </div>
</div>
</div>

<div class="container">

<div class="row mt-5 ">
  <div class="col-lg-6 ">
    <h3 style="color:darkgray;letter-spacing:4px;font-size: 18px;">BRANDS</h3>
    <h2>TRUSTED AND <br>
      SUPPORTED<br>BY MANY</h2>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <button class="nav-link" (click)="toggledesign()" >DESIGNING</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="togglemarketing()">OUR APPROACH</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" (click)="toggledevs()">OUR VALUES</button>
        </li>
       
      </ul>
  
      <div class="toggle-content-list">
        <div class="toggle-content-designing">
          <p *ngIf="showme">Integrity is the bedrock of Lakshya We prioritize honesty, transparency, and ethical conduct
            in all our interactions.
            Our commitment to integrity guides our decisions, actions, and relationships with clients, partners, and
            employees.
            With Lakshya, you can trust that we will always operate with integrity, accountability, and dedication to
            doing what is
            right.
          </p>
        </div>
        <div class="toggle-content-marketing">
          <p *ngIf="showmee">Our approach is centered around delivering exceptional software solutions
            tailored to the unique needs of our clients. We prioritize a client-centric approach, beginning with
            a thorough understanding of your business objectives, challenges, and requirements. Utilizing agile
            methodologies, we break down projects into manageable iterations,
            ensuring flexibility and adaptability to changing needs.
          </p>
        </div>
        <div class="toggle-content-devs">
          <p *ngIf="showmeee">We offer more than just innovative software solutions;
            we provide a partnership built on trust, expertise, and a shared commitment to your success.
            With years of experience in the industry, our team of skilled professionals brings a
            wealth of knowledge and expertise to every project.
          </p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6">
      <img *ngIf="showme" src="../../assets/images/aboutus.jpg" alt="noimage" width="850" height="500">
      <img *ngIf="showmee" src="../../assets/images/marketing.jpg" alt="noimage" width="850" height="500">
      <img *ngIf="showmeee" src="../../assets/images/aboutus.jpg" alt="noimage" width="850" height="500">
    </div>
  
  </div>
  </div>
  


<div class="row flex-container mt-5">
  <div class=" col-lg-6 flex-container1">


    <h3>JOIN OUR TEAM</h3>
    <p>Are you passionate about technology and innovation? Do you thrive in a
      collaborative and dynamic work environment?
      If so, we'd love to hear from you!</p>

  </div>
  <div class=" col-lg-6 flex-container2">

    <h3>OUR NEWS LETTER</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit
      voluptatem accusantium doloremque laudanti<br>
      i am va,so</p>

  </div>
</div>