p {
    font-size: 18px;
    line-height: 1.6;
    font-family: Verdana;

}

.aboutus {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    color: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(10deg, #008066 0%, #122E51 31%, #003268 52%, #0C6A66 71%, #0B006C 97%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(0px, 0px);
    opacity: 1;

}



.flexbox1 {
    display: flex;
    justify-content: space-around;
}

.flex-container {

    display: flex;
    justify-content: space-evenly;

}



.flex-item {
    padding: 10px;
    margin-bottom: 10px;
}



.toggle-headlines {
    display: flex;
    justify-content: space-between;

}



.flex-container1 {
    background-color: skyblue;
    padding: 50px;
    text-align: center;
}

.flex-container2 {
    background-color: darkgrey;
    padding: 50px;
    text-align: center;
}