<div class="container">
  <div class="row ">
    <div class="col-md-6">
      <h3>ERP Selection Consulting:</h3>
      <p>Ensure your company's software ecosystem aligns with your strategic goals and processes with Lakshya's ERP selection 
        consulting services. Say goodbye to the buy vs. build dilemma as our experienced consultants guide you through the 
        decision-making process. Whether you opt for a custom solution or a platform-based one with minimal customization, 
        we consider key factors such as total cost of ownership (TCO), feature set, user experience (UX), customizability, 
        scalability, integration capabilities, security, industry-specific fit, uptime and performance, and tech support availability. 
        With Lakshya, you'll make an informed choice that maximizes efficiency and drives business growth.</p>
      </div>
    <div class="col-md-6">
      <img src="../../../assets/images/image 78.png" width="400"height="300">
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row  flex-column-reverse flex-md-row">

    <div class="col-md-6">
      <img src="../../../assets/images/image 78.png" width="400" height="300">
    </div>
    <div class="col-md-6">
    
      <h3>Custom ERP Development:</h3>
      <p>Tailor-made solutions for companies with unique business processes and regulatory requirements. Our custom ERP 
        development services ensure your system perfectly aligns with your organization's needs, enhancing productivity and 
        compliance.</p>
      
    </div>
    </div>
    </div>
   
  
  

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h3>Platform-Based ERP Development:</h3>
        <p>Harness the power of out-of-the-box functionality with our platform-based ERP development services. We identify 
          areas where off-the-shelf ERP systems fall short of your requirements and customize only those aspects, minimizing 
          your investment while maximizing functionality. With Lakshya, you'll get a solution that meets your needs without 
          breaking the bank.</p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/image 78.png" width="400" height="300">
      </div>
    </div>
  </div>
  

  