<div class="container">
    <h1 class="services" style="font-family:Syne">Services</h1>
    <div class="row mt-4">
<div class="col-lg-4 col-md-6 text-center mb-3">
    <div class="service-wrap">
        <div class="service-icon">
            <i class="fas fa-cogs"></i>
        </div>
        <h4>Customized software development</h4>
        <p>At Lakshya we specialize in creating bespoke software solutions tailored to meet the unique needs of businesses across industries. From concept to deployment, our team of experienced developers
             is committed to delivering innovative and scalable...</p>
             <a routerLink="customized"><button type="button" class="btn btn-dark"> Read More</button></a>
    </div>
</div>
<div class="col-lg-4 col-md-6 text-center mb-3">
    <div class="service-wrap">
        <div class="service-icon">
            <i class="fas fa-cogs"></i>
        </div>
        <h4>ERP implementation</h4>
        <p> We specialize in
             helping businesses build stronger relationships with their customers, streamline sales
              and marketing processes, and drive growth through the successful implementation of CRM solutions.
               With our expertise and personalized approach, we'll guide you....</p>
               <a routerLink="erp"><button type="button" class="btn btn-dark"> Read More</button></a>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 text-center mb-3">
        <div class="service-wrap">
            <div class="service-icon">
                <i class="fas fa-cogs"></i>
            </div>
            <h4>CRM implementation</h4>
            <p>We Unlock the full potential of your business with our comprehensive ERP implementation software. At Lakshya, we specialize in delivering seamless ERP solutions that streamline operations, improve efficiency,
                 and drive growth for businesses of all sizes...</p>
            <a routerLink="crm"><button type="button" class="btn btn-dark"> Read More</button></a>
        </div>
    </div>
</div>


<div class="container">
<div class="row">
    <div class="col-lg-4 col-md-6 text-center mb-3">
        <div class="service-wrap">
            <div class="service-icon">
                <i class="fas fa-cogs "></i>
            </div>
            <h4>BUSINESS PROCESS MANAGEMENT</h4>
            <p>We Unlock the full potential of your business with our cutting-edge Business Process Management (BPM)
                 software. Our solutions are designed
                 to streamline operations, increase efficiency, and drive growth for businesses of all sizes...</p>
                 <a routerLink="business"><button type="button" class="btn btn-dark"> Read More</button></a>
        
        </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center mb-3">
            <div class="service-wrap">
                <div class="service-icon">
                    <i class="fas fa-cogs "></i>
                </div>
                <h4>PROCUREMENT AND SUPPLY CHAIN MANAGEMENT</h4>
                <p>We offer cutting-edge software solutions to 
                     streamline your procurement processes, 
                    optimize your supply chain, and drive sustainable growth.It includes sourcing
                obtaining and paying for goods and services.</p>
                
                <a routerLink="procurement"><button type="button" class="btn btn-dark"> Read More</button></a>
    
            </div>
    </div>
    </div>

    </div>
             <div class="container">
                <h1 class="services" style="font-family:Syne">Solutions</h1>
                     <div class="row mt-4 ">
                   <div class="col-lg-6 col-md-6 text-center mb-3">
                    <div class="service-wrap">
                        <div class="service-icon center">
                            <i class="fas fa-chart-pie center"></i>
                        </div>
                        <h4>Enterprise performance management</h4>
                        <p>At Lakshya, we specialize in providing comprehensive Enterprise 
                            Performance Management (EPM) services that empower organizations to achieve
                             strategic goals, enhance financial performance, and drive sustainable growth...</p>
                              <a routerLink="enterprise">
                                <button type="button" class="btn btn-dark"> Read More</button>
                            </a>
                            
                            
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center mb-3">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <i class="fas fa-thumbs-up"></i>
                        </div>
                        <h4>Human capital management</h4>
                        <p>At Lakshya, we provide a comprehensive suite of Human Capital Management (HCM)
                             services designed to enhance your organization's human resources capabilities, 
                             streamline HR processes,workforce acquiition,workforce management and workforce 
                            optimaztion....</p>
                            
                                <a routerLink="human">
                                    <button type="button" class="btn btn-dark"> Read More</button></a>
                        
                    </div>
                </div>
            </div>
        </div>

<div class="container">
    <h1 class="services" style="font-family:Syne">Technologies</h1>

   
            <div class="row mt-4">
                <div class="col-lg-4 col-md-6 text-center mb-3">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <i class="fas fa-layer-group"></i>
                        </div>
                        <h4>Cloud services</h4>
                        <p>At Lakshya we provide cutting-edge cloud solutions to empower your business, streamline operations, and drive growth. With our expertise in cloud computing, we offer scalable, secure, and reliable
                             services tailored to meet...</p>
                             <a routerLink="cloud"><button type="button" class="btn btn-dark"> Read More</button></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center mb-3">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <i class="far fa-chart-bar"></i>
                        </div>
                        <h4>AI & ML</h4>
                        <p>At Lakshya, we specialize in providing cutting-edge Artificial Intelligence (AI) and 
                            Machine Learning (ML) services that help businesses unlock
                             new opportunities, enhance operational efficiency, and drive innovation.
                             Our team of experts...</p>
                             <a routerLink="ai"><button type="button" class="btn btn-dark"> Read More</button></a>
                            
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center mb-3">
                    <div class="service-wrap">
                        <div class="service-icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <h4>IOT</h4>
                        <p>At Lakshya, we specialize in providing innovative Internet of Things (IoT) 
                            solutions that empower businesses to connect, analyze, and optimize their operations. 
                            Our comprehensive IoT services leverage cutting-edge.we design and develop...</p>
                            <a routerLink="iot"><button type="button" class="btn btn-dark"> Read More</button></a>
                        
                    </div>
                </div>

      


            
       

