<div class="container mt-4">
  <div class="row ">
    <div class="col-md-6">
      <h3>Financial Planning and Analysis:
      </h3>
      <p>Our EPM solution provides advanced forecasting capabilities and intuitive dashboards to empower you in anticipating 
        market trends, optimizing budgets, and making informed decisions that drive profitability. From revenue projections 
        to expense tracking, our solution offers real-time insights into your financial performance, enabling you to adapt 
        quickly to changing business conditions.</p>
      </div>
    <div class="col-md-6">
      <img src="../../../assets/images/image 78.png" width="300"height="300">
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row  flex-column-reverse flex-md-row">

    <div class="col-md-6">
      <img src="../../../assets/images/image 78.png" width="400" height="300">
    </div>
    <div class="col-md-6">
      <h3>Risk Management:</h3>
      <p>In today's dynamic business landscape, effective risk management is crucial for sustainable growth. Our EPM solution 
        offers real-time monitoring, scenario analysis, and automated alerts to help you identify, assess, and mitigate risks 
        proactively. Whether it's regulatory compliance, cybersecurity threats, or market fluctuations, our solution safeguards 
        your organization's reputation and financial stability.</p>
    </div>
    </div>
   
  </div>
  

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h3>Profitability Optimization:</h3>
        <p>Maximizing profitability and operational efficiency is key to staying competitive. Our EPM solution leverages advanced 
          analytics and optimization algorithms to uncover hidden opportunities, reduce costs, optimize pricing strategies, and 
          enhance revenue streams. From supply chain optimization to product portfolio management, our solution empowers 
          you to make data-driven decisions that drive bottom-line results, giving you a competitive edge in your industry</p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/image 78.png" width="400" height="300">
      </div>
    </div>
  </div>
  

  