<h1 class="aboutus" style="font-family:Syne;text-align: center;color: blue;">Contact Us</h1>
<div class="container">
   <div class="row mt-4">
    <div class="col-lg-4">
     <h4 class="heading1">USA office<br>
            team contact
          </h4>
          <p style="font-size: 20px; line-height: 1.5;">999999999<br>
            lakshya.com<br>
            USA</p>
           </div>
       <div class="col-lg-4">
       <h4 class="heading1">UK office <br> team contact</h4>
        <p style="font-size: 20px; line-height: 1.5;">999999999<br>
            lakshya.com<br>
            Hyderabad</p>
        </div>
        <div class="col-lg-4">
      <h4 class="heading1">Vijayawada office <br> team contact</h4>
        <p style="font-size: 20px; line-height: 1.5;">999999999<br>
            lakshya.com<br>
            Hyderabad</p>
        </div>
        </div>
     
  
    <div class="row  mt-4">
      <div class="col-lg-6">
        <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.403770331093!2d78.38448057516615!3d17.440378183455962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb917b59182915%3A0xdebd743469652e1!2sLakshya%20Software%20Technologies%20Private%20Limited!5e0!3m2!1sen!2sin!4v1718089409024!5m2!1sen!2sin"
              width="650" height="500" style="border:0;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-lg-6">
            <h4 class="heading1 ">Get in touch</h4>
            <form>
              <div class="form-row inputboxes">
                <div class="col">
                  <input type="text" class="border border-primary inputcenter inputbox"  placeholder="Your name">
                </div>
                <div class="col">
                  <input type="email" class=" border border-primary  inputcenter  inputbox" placeholder="Your email">
                </div>
              </div>
                  <div class="col">
                  <textarea class="border border-primary inputcenter1" rows="4" cols="40"  placeholder="Your message"></textarea>
                </div>
                <div class="col">
                  <button type="button" class="border border-primary form-control btn btn-light inputcenter inputbox1">SEND</button>
                </div>
              
            
            </form>
            </div>
            </div>
            </div>
            
            
            

<div class="row flex-container mt-5">
  <div class=" col-lg-6 flex-container1">


    <h3>JOIN OUR TEAM</h3>
    <p>Are you passionate about technology and innovation? Do you thrive in a
      collaborative and dynamic work environment?
      If so, we'd love to hear from you!</p>

  </div>
  <div class=" col-lg-6 flex-container2">

    <h3>OUR NEWS LETTER</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit
      voluptatem accusantium doloremque laudanti<br>
      i am va,so</p>

  </div>
</div>


    


    
              
           
            
      


















  <!-- <h1>contact udyic</h1>
     <h1>contact udyic</h1>
     <h1>contact udyic</h1>
     <h1>contact udyic</h1>
     <h1>contact udyic</h1>
     <h1>contact udyic</h1>
     <h1>contact udyic</h1>
     <h1>contact udyic</h1> -->