p a {
    background-image: -webkit-linear-gradient(5deg, #5cc3ee 0, #5d91ef 29%, #5e5ef0 50%, #947be1 73%, #ca97d2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.offcanvas{
    
    width: 557px;
    

    height: 100%;
  
    padding: 178px 5% 35px 122px;
    background-color: #fff;
  
    
}