p a {
    background-image: -webkit-linear-gradient(5deg, #0B006C 0%, #122E51 31%, #003268 52%, #0C6A66 71%, #008066 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offcanvas {
    // width: 557px;
    height: 100%;
    padding: 80px 50px;
    background-color: #fff;


}

nav {
    margin-left: auto;
    padding-top: 10px;
    margin-bottom: 10px;
}

a img {
    width: 175px;
}

.h4,
h4 {
    font-size: 1.5rem;
}
.sidebar-logo{
    width: 130px;
}

.widget.widget_nav_menu ul li a {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 500;
    color: white;
}
.Social-icons{
    gap: 20px;
    row-gap: 10px;
    display: flex;
    padding: 10px 0px;
    font-size: 25px;
    background-image: -webkit-linear-gradient(5deg, #0B006C 0%, #122E51 31%, #003268 52%, #0C6A66 71%, #008066 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.Social-icons i{ 
  
    font-size: 25px;
    background-image: -webkit-linear-gradient(5deg, #0B006C 0%, #122E51 31%, #003268 52%, #0C6A66 71%, #008066 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Social-icons a i:hover{ 
    background-image: none;

   font-size:30px;
}
.qodef-header-navigation>ul {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 100%;
    white-space: nowrap;
}
@media  (max-width:992px) {
    .qodef-widget-holder{
        display: none;
    }
}

.qodef-header-navigation>ul>li>a>span {
        background-size: 200% 100%;
    background-position: left;
    transition: background-position .4s ease;
    color: black;
}

.qodef-header-navigation>ul>li>a>span:hover {

    color:#008066;
    transition: background-position .4s ease
}
.navbar.sticky-top {
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
  }
  
  .navbar.sticky-top.scrolled {
    background-color: #ffffff; /* Your desired background color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Your desired box-shadow */
  }