<header id="qodef-page-header" role="banner">
    <div id="qodef-page-header-inner" class="">
        <a class="navbar-brand" href="#"><img src="../../../assets/images/003.png"></a>
        <nav class="qodef-header-navigation sticky navbar navbar-expand-lg navbar-light sticky" role="navigation" aria-label="Top Menu">
            <ul class="menu">
                <li class=" current-menu-ancestor current-menu-parent  qodef--hide-link qodef-menu-item--narrow">
                    <a routerLink=""><span class="qodef-menu-item-text">Home</span></a>

                </li>
                <li class="qodef--hide-link qodef-menu-item--narrow">
                    <a routerLink="AboutUs"><span class="qodef-menu-item-text">About Us</span></a>

                </li>
                <li class="qodef--hide-link qodef-menu-item--wide">
                    <a routerLink="ContactUs"><span class="qodef-menu-item-text">Contact Us</span></a>

                </li>
                <li class="qodef--hide-link qodef-menu-item--narrow">
                    <a routerLink="Services"><span class="qodef-menu-item-text">Services</span></a>

                </li>



                <li class="qodef--hide-link qodef-menu-item--narrow">
                    <a routerLink="Blog"><span class="qodef-menu-item-text">Blog</span></a>

                </li>
            </ul>
        </nav>
        <div class="qodef-widget-holder qodef--one">
            <div id="deon_core_side_area_opener-2"
                class="widget widget_deon_core_side_area_opener qodef-header-widget-area-one"
                data-area="header-widget-one"><a href="javascript:void(0)"
                    class="qodef-opener-icon qodef-m qodef-source--svg-path qodef-side-area-opener"
                    style="margin: 0 0px 0 34px">
                    <span class="qodef-m-icon qodef--open" data-bs-toggle="offcanvas" data-bs-target="#rightOffcanvas"
                        aria-controls="rightOffcanvas">
                        <svg class="qodef-open-lines" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 41 11"
                            style="enable-background:new 0 0 41 11;" xml:space="preserve">
                            <line x1="1" y1="1" x2="40" y2="1"></line>
                            <line x1="16" y1="6" x2="40" y2="6"></line>
                        </svg> </span>
                </a>
            </div>
        </div>
    </div>
</header>
    <div id="qodef-page-header-inner-1" class="">
        <nav class="navbar navbar-expand-lg navbar-light sticky" role="navigation" aria-label="Top Menu">
            <a class="navbar-brand" href="#"><img src="../../../assets/images/003.png"></a>

            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 menu">
                        <li class=" current-menu-ancestor current-menu-parent  qodef--hide-link qodef-menu-item--narrow">
                            <a routerLink=""><span class="qodef-menu-item-text">Home</span></a>
        
                        </li>
                        <li class="qodef--hide-link qodef-menu-item--narrow nav-item">
                            <a routerLink="AboutUs"><span class="qodef-menu-item-text">About Us</span></a>
        
                        </li>
                        <li class="qodef--hide-link qodef-menu-item--wide nav-item">
                            <a routerLink="ContactUs"><span class="qodef-menu-item-text">Contact Us</span></a>
        
                        </li>
                        <li class="qodef--hide-link qodef-menu-item--narrow nav-item">
                            <a routerLink="Services"><span class="qodef-menu-item-text">Services</span></a>
        
                        </li>
        
        
        
                        <li class="qodef--hide-link qodef-menu-item--narrow nav-item">
                            <a routerLink="Blog"><span class="qodef-menu-item-text">Blog</span></a>
        
                        </li>
                    </ul>
               
            </div>
        </nav>
    </div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="rightOffcanvas" aria-labelledby="rightOffcanvasLabel">
    <div id="qodef-page-wrapper">
        <div id="block-26" class="widget widget_block" data-area="side-area">
            <div class="wp-block-group">
                <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
                    <img src="../../../assets/images/logo_1.png" class="sidebar-logo">
                    <div class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--left  ">
                        <h4>
                            Elevating Innovation Through
                            Comprehensive Software Services
                        </h4>
                        <p class="qodef-contact-info-widget qodef--email"> 
                            <a  href="mailto:contact@lakshya-soft.com">contact&#64;lakshya-soft.com</a> </p>
                        <div class="qodef-m-section-text" style="margin-top: 15px">3rd floor, C9RP+6RJ Trendz Axis,
                            Vittal Rao Nagar, HITEC City, Hyderabad, Telangana 500081</div>

                            <div class="Social-icons">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-x-twitter"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-linkedin"></i>
                                                      </div>
                    </div>


                </div>

            </div>
        </div>

    </div>
</div>