<div class="container mt-4">
  <div class="row ">
    <div class="col-md-6">
      <h3>Talent Acquisition:</h3>
      <p>Our HCM solution simplifies the recruitment process, enabling you to attract, engage, and hire top talent quickly and 
        efficiently. From candidate sourcing to onboarding, our system streamlines the entire recruitment lifecycle, while AIpowered analytics help identify the best candidates for your organization. Whether you're hiring for a single role or 
        managing a large-scale recruitment drive, our solution helps you build a high-performing team that drives business 
        success.</p>
      </div>
    <div class="col-md-6">
      <img src="../../../assets/images/image 78.png" width="400"height="300">
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row  flex-column-reverse flex-md-row">

    <div class="col-md-6">
      <img src="../../../assets/images/image 78.png" width="400" height="300">
    </div>
    <div class="col-md-6">
      <h3>Performance Management:</h3>
      <p>Transform performance management into a strategic asset with our HCM solution. Set goals, provide feedback, and 
        develop employees to their full potential using our goal-setting tools, performance evaluations, and 360-degree 
        feedback mechanisms. Personalized learning plans and development resources facilitate employee growth and 
        success, empowering you to nurture talent and drive organizational excellence.</p>
    </div>
    </div>
   
  </div>
  

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <h3>Employee Engagement:</h3>
        <p>Foster a culture of collaboration, innovation, and employee engagement with our HCM solution. Our social recognition 
          platform encourages peer-to-peer recognition and appreciation, while pulse surveys and feedback mechanisms 
          provide valuable insights into employee sentiment and morale. Whether you're promoting teamwork, celebrating 
          achievements, or soliciting feedback, our solution helps you create a positive work environment where employees feel 
          valued, empowered, and inspired to excel.
       
          </p>
      </div>
      <div class="col-md-6">
        <img src="../../../assets/images/image 78.png" width="400" height="300">
      </div>
    </div>
  </div>
  

  <div class="container mt-4">
    <div class="row  flex-column-reverse flex-md-row ">
  
      <div class="col-md-6">
        <img src="../../../assets/images/image 78.png" width="400" height="300">
      </div>
      <div class="col-md-6 ">
        <h3>Operational Excellence</h3>
        <p>Drive operational excellence by leveraging Salesforce to identify and address areas for improvement in your marketing 
          and sales management practices. Whether it's refining existing processes or implementing new strategies, our team 
          equips you with the tools and expertise needed to seamlessly integrate Salesforce into your ecosystem, optimizing 
          operational efficiency and driving business success..</p>
      </div>
      </div>
     
    </div>
  

    <div class="container mt-4">
      <div class="row ">
        <div class="col-md-6">
          <h3>Organizational Enablement</h3>
          <p>Elevate your organization's IT maturity and foster Salesforce adoption across departments with our comprehensive 
            organizational enablement services. From creating user guides to conducting tailored training sessions, we empower 
            your team to maximize the benefits of Salesforce investment. Additionally, our dedicated CRM ambassador team 
            provides ongoing support and assistance, ensuring a smooth transition and long-term success with Salesforce 
            implementation.</p>
        </div>
        <div class="col-md-6">
          <img src="../../../assets/images/image 78.png" width="400" height="300">
        </div>
      </div>
    </div>


