<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
           
                <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                    <div class="wp-block-group">
                        <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
                            <figure class="wp-block-image size-full"><a href="https://deon.qodeinteractive.com/"><img
                                        loading="lazy" decoding="async" width="140" height="43"
                                        src="../../../assets/images/logo/lashya_white_1.png" alt="q"
                                        class="wp-image-1320"></a></figure>


                            <p><a href="https://maps.app.goo.gl/MjL8Vj53uwD3dY4F6"
                                    target="_blank" rel="noreferrer noopener">3rd floor,Trendz Axis, Vittal Rao Nagar,
                                    HITEC City, Hyderabad, Telangana 500081</a></p>



                            <p><a href="tel:00123456789">T: +91 866-6612661</a></p>



                            <p><a href="mailto:contact@lakshya-soft.com">contact&#64;lakshya-soft.com</a></p>




                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                

                <div class="widget widget_deon_core_separator">
                    <div class=" qodef-shortcode qodef-m  qodef-separator clear ">
                        <!-- <div class="qodef-m-line"
                            style="border-color: transparent;border-bottom-width: 0px;margin-top: 22px">
                        </div> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                       
                        <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                            <div class="widget widget_nav_menu">
                                <div class="menu-navigation-menu-right-container">
                                    <ul id="menu-navigation-menu-right" class="menu">
                                        <li id="menu-item-4937"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4937">
                                            <a href="https://deon.qodeinteractive.com/about-us/">About Us</a>
                                        </li>
                                        <li id="menu-item-4936"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4936">
                                            <a href="https://deon.qodeinteractive.com/about-me/">About Me</a>
                                        </li>
                                        <li id="menu-item-4938"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4938">
                                            <a href="https://deon.qodeinteractive.com/our-process/">Our Process</a>
                                        </li>
                                        <li id="menu-item-4939"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4939">
                                            <a href="https://deon.qodeinteractive.com/our-team/">Our Team</a>
                                        </li>
                                        <li id="menu-item-4940"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4940">
                                            <a href="https://deon.qodeinteractive.com/pricing-plans/">Pricing
                                                Plans</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    

                    </div>
                    <div class="col-lg-6">
                                                  <div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
                                <div class="widget widget_nav_menu">
                                    <div class="menu-navigation-menu-right-container">
                                        <ul id="menu-navigation-menu-right" class="menu">
                                            <li id="menu-item-4937"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4937">
                                                <a href="https://deon.qodeinteractive.com/about-us/">About Us</a>
                                            </li>
                                            <li id="menu-item-4936"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4936">
                                                <a href="https://deon.qodeinteractive.com/about-me/">About Me</a>
                                            </li>
                                            <li id="menu-item-4938"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4938">
                                                <a href="https://deon.qodeinteractive.com/our-process/">Our Process</a>
                                            </li>
                                            <li id="menu-item-4939"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4939">
                                                <a href="https://deon.qodeinteractive.com/our-team/">Our Team</a>
                                            </li>
                                            <li id="menu-item-4940"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4940">
                                                <a href="https://deon.qodeinteractive.com/pricing-plans/">Pricing
                                                    Plans</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="qodef-grid-item">
                    <div id="deon_core_separator-19" class="widget widget_deon_core_separator"
                        data-area="qodef-footer-top-area-column-2">
                       
                    </div>
                    <div id="block-16" class="widget widget_block" data-area="qodef-footer-top-area-column-2">
                        <div class="wp-block-group">
                            <div class="wp-block-group__inner-container is-layout-flow wp-block-group-is-layout-flow">
                                <div class="widget widget_deon_core_title_widget">
                                    <h5 class="qodef-widget-title" style="margin-bottom: 24px">
                                        Our Newsletter </h5>
                                </div>


                                <div class="wp-block-contact-form-7-contact-form-selector">
                                    <div class="wpcf7" id="wpcf7-f1319-o1" lang="en-US" dir="ltr">

                                        <form class="wpcf7-form init demo" novalidate="novalidate" data-status="init">

                                            <div class="qodef-ft-newsletter">

                                                <span class="wpcf7-form-control-wrap" data-name="your-email"><input
                                                        type="email" name="your-email" value="" size="40"
                                                        class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                        aria-required="true" aria-invalid="false"
                                                        placeholder="Your email"></span>

                                                <button type="submit"
                                                    class="wpcf7-form-control wpcf7-submit qodef-layout--textual qodef-button qodef-size--normal qodef-layout--outlined qodef-m"><span
                                                        class="qodef-m-text">Subscribe</span></button>

                                            </div>
                                            <div class="wpcf7-response-output" aria-hidden="true"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="qodef-page-footer-bottom-area">
        <div id="qodef-page-footer-bottom-area-inner" class="qodef-content-grid">
            <div
                class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--1 qodef-alignment--left">
                <div class="qodef-grid-inner clear">
                    <div class="qodef-grid-item">
                        <div id="block-36" class="widget widget_block widget_text"
                            data-area="qodef-footer-bottom-area-column-1">
                            <p>© Copyright 2024 Crafted by<a href="#"> Lakshya Software Technologies</a>, All Rights
                                Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>