<!--Carousel images-->
<div class="container">
    <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container " style="background-image: url(../../assets/images/deon/Home-10-rev-img.png);">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="text-left">
                                <p class="qodef-m-subtitle"
                                style="color: rgb(151, 151, 151); transform: translate(0px, 0px); opacity: 1;">LATEST PRODUCTS</p>
                                <h4 class="qodef-m-title"
                                style="color: rgb(255, 255, 255); background-image: -webkit-linear-gradient(45deg,#0B006C 0%,  #122E51 31%,    #003268 52%,    #0C6A66 71%,    #008066 97%); background-clip: text; -webkit-text-fill-color: transparent; transform: translate(0px, 0px); opacity: 1;">The New Design Of App Era And Tech</h4>
                                <button class="btn btn-default-1">VIEW MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="text-left">
                                <p class="qodef-m-subtitle"
                                style="color: rgb(151, 151, 151); transform: translate(0px, 0px); opacity: 1;">FRESH NEW ITEMS</p>
                                <h4 class="qodef-m-title"
                                style="color: rgb(255, 255, 255); background-image: -webkit-linear-gradient(45deg,#0B006C 0%,  #122E51 31%,    #003268 52%,    #0C6A66 71%,    #008066 97%); background-clip: text; -webkit-text-fill-color: transparent; transform: translate(0px, 0px); opacity: 1;">A New Era Of Our Digital Platform Business</h4>
                                <button class="btn btn-default-1">VIEW MORE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between w-100">
            <button class="carousel-control-prev previous" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next next" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<section
    class=""
    data-id="1e7c45d" data-element_type="section">
    <div class="">
        <div class="qodef-gradient-background-column--no"
            data-id="1cb371f" data-element_type="column">
            <div class="">
                <div class=""
                    data-id="7fb3b4f" data-element_type="widget" data-widget_type="deon_core_section_title.default">
                    <div class="">
                        <div
                            class="qodef-shortcode qodef-m qodef-section-title qodef-alignment--center qodef--has-appear qodef--appeared">
                            <p class="qodef-m-subtitle"
                                style="color: rgb(151, 151, 151); transform: translate(0px, 0px); opacity: 1;">truly
                                modern</p>
                            <h2 class="qodef-m-title qodef-m-title-1"
                                style="color: rgb(255, 255, 255); background-image: -webkit-linear-gradient(45deg,#0B006C 0%,  #122E51 31%,    #003268 52%,    #0C6A66 71%,    #008066 97%); background-clip: text; -webkit-text-fill-color: transparent; transform: translate(0px, 0px); opacity: 1;">
                                End-to-end? Best of breed? How about both. </h2>
                            <div class="qodef-m-section-text" style="transform: translate(0px, 0px); opacity: 1;">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur erat ante,
                                    et finibus tellus pousere nec. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Nam consectetur erat ante, et finibus tellus pousere nec.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>