<main>

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item ">
        <div class="container-1 ">
          <!-- <div class="row justify-content-center">
            <div class="col-lg-3"> -->
          <div class="text">
            <p class="qodef-m-subtitle">
              LATEST PRODUCTS</p>
            <h4
              style="color: rgb(255, 255, 255); background-image: -webkit-linear-gradient(45deg,#0B006C 0%,  #122E51 31%,    #003268 52%,    #0C6A66 71%,    #008066 97%); background-clip: text; -webkit-text-fill-color: transparent; transform: translate(0px, 0px); opacity: 1;">
              Redefining Innovation with Cutting-Edge Tech</h4>
            <button class="btn btn-default-1">VIEW MORE</button>
          </div>
          <img src="../../assets/images/deon/Home-10-rev-img.png" class="image"
            style="float: right;justify-content: end;">
        </div>
      </div>
      <div class="carousel-item active">
        <div class="container-1 ">

          <div class="text">
            <p class="qodef-m-subtitle">Future Ready</p>
            <h4
              style="color: rgb(255, 255, 255); background-image: -webkit-linear-gradient(45deg,#0B006C 0%,  #122E51 31%,    #003268 52%,    #0C6A66 71%,    #008066 97%); background-clip: text; -webkit-text-fill-color: transparent; transform: translate(0px, 0px); opacity: 1;">
              Empowering Businesses through Technology</h4>
            <button class="btn btn-default-1">VIEW MORE</button>
          </div>
          <img src="../../assets/images/deon/Home-10-rev-img2.png" class="image"
            style="float: right;justify-content: end;">
        </div>
      </div>

      <div class="qodef-m-inner carousel-control-prev">
        <a itemprop="url" class="qodef-m-nav qodef--prev" href="#" data-bs-target="#myCarousel" data-bs-slide="prev">
          <svg class="qodef-svg--slider-arrow-left" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90"
            enable-background="new 0 0 90 90" xml:space="preserve">
            <circle fill="none" stroke="#C3C4F9" stroke-width="2" stroke-miterlimit="10" cx="45.567" cy="44.925" r="35">
            </circle>
            <path fill="currentColor" stroke="none"
              d="M39.9,45.4L50.6,56l1-0.9L41.4,44.9l10.2-10.2l-0.9-0.9L39.9,44.5L39.9,45.4L39.9,45.4z"></path>
          </svg>
        </a>
      </div>

      <div class="qodef-m-inner carousel-control-next">
        <a itemprop="url" class="qodef-m-nav qodef--next" href="#" data-bs-target="#myCarousel" data-bs-slide="next">
          <svg class="qodef-svg--slider-arrow-right" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90"
            enable-background="new 0 0 90 90" xml:space="preserve">
            <circle fill="none" stroke="#C3C4F9" stroke-width="2" stroke-miterlimit="10" cx="45.567" cy="44.925" r="35">
            </circle>
            <path fill="currentColor" stroke="none"
              d="M51.662,45.394L40.958,56.019l-1.016-0.938l10.235-10.156L40.021,34.769l0.938-0.938l10.704,10.625V45.394z">
            </path>
          </svg>
        </a>
      </div>
    </div>
  </div>






  <section class="intro-section">

    <div class="qodef-gradient-background-column--no">

      <div
        class="qodef-shortcode qodef-m qodef-section-title qodef-alignment--center qodef--has-appear qodef--appeared">
        <p class="qodef-m-subtitle" style="color: rgb(151, 151, 151); transform: translate(0px, 0px); opacity: 1;">
          Solutions Simplified</p>
        <h2 class="qodef-m-title qodef-m-title-1"
          style="color: rgb(255, 255, 255); background-image: -webkit-linear-gradient(45deg,#0B006C 0%,  #122E51 31%,    #003268 52%,    #0C6A66 71%,    #008066 97%); background-clip: text; -webkit-text-fill-color: transparent; transform: translate(0px, 0px); opacity: 1;">
          Creative Minds, Technical Expertise</h2>
        <div class="qodef-m-section-text" style="transform: translate(0px, 0px); opacity: 1;">
          <p>We are a team of dedicated, collaborative professionals delivering specialized services for clients
            worldwide, leveraging our extensive experience to solve complex problems. Our willingness to make
            hard choices ensures we achieve the best outcomes and deliver relevant, meaningful solutions.</p>
        </div>
      </div>
    </div>

  </section>
  <section class="container intro-section">
    <div class="row">
      <div class="col-lg-5" style="display: flex;">
        <div class="qodef-shortcode-1 qodef-m  qodef-single-image qodef-layout--default qodef-parallax-item  ">
          <div class="qodef-m-image ">
            <img fetchpriority="high" decoding="async"
              src="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Home-2-img-1.png"
              class="attachment-full size-full" alt="a"
              srcset="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Home-2-img-1.png 693w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Home-2-img-1-600x453.png 600w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Home-2-img-1-300x226.png 300w"
              sizes="(max-width: 693px) 100vw, 693px">
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div
          class="qodef-shortcode-1 qodef-m qodef-section-title qodef-alignment--left qodef--has-appear qodef--appeared">
          <p class="qodef-m-subtitle" style="transform: translate(0px, 0px); opacity: 1;">Our Approach and Commitment
          </p>
          <h2 class="qodef-m-title" style="margin-top: 9px; transform: translate(0px, 0px); opacity: 1;">
            <a itemprop="url" href="https://deon.qodeinteractive.com/portfolio-item/phones/" target="_self">
              Craft dynamic,<br> client-specific strategies
            </a>
          </h2>
          <div class="qodef-m-section-text" style="transform: translate(0px, 0px); opacity: 1;">We are a dedicated,
            collaborative team with a relentless passion for creativity and strong technical skills, enabling us to
            create top-notch solutions. Our specialized services cater to clients globally, adapting to regional customs
            to solve complex problems. Committed to making tough choices for the best outcomes, we deliver simple,
            timeless, and meaningful results.

          </div>
          <div class="qodef-m-button" style="transform: translate(0px, 0px); opacity: 1;">
            <button class="btn btn-default-1">VIEW MORE</button>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="intro-section">
    <div class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--center  ">
      <p class="qodef-m-subtitle" style="transform: translate(0px, 0px); opacity: 1;">Our Services </p>

      <h2 class="qodef-m-title">
        Customized Approaches for Diverse Digital Ventures
      </h2>

    </div>
  </section>
  <section class="container intro-section">
    <div class="row">
      <div class="col-lg-4">
        <div class="qodef-shortcode qodef-m  qodef-pricing-table qodef-layout--standard qodef-status--regular"
          style="background-image: url(https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-bcg-img-1.jpg)">
          <div class="qodef-m-inner">
            <div class="qodef-m-title">
              <p>Services
              </p>
            </div>
            <div class="qodef-m-price">
              <div class="qodef-m-price-wrapper qodef-h4">
                <span class="qodef-m-price-value">High-Quality App Services
                </span>
              </div>
            </div>
            <div class="qodef-m-content">
              <ul>
                <li>Mobile & App Development</li>
                <li>

                  Enterprise Software Development</li>
                <li>

                  Consultancy and Support</li>
                <li>
                  Staffing</li>
                <li>

                  DevOps</li>
              </ul>
            </div>
            <!-- <div class="qodef-m-button clear">
            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--outlined   qodef-html--link" href="#"
              target="_self"> <span class="qodef-m-text">Read More</span></a>
          </div> -->
            <button class="btn btn-default-1">READ MORE</button>

          </div>
          <div class="qodef-m-shape" style="text-align:center;">
            <img loading="lazy" decoding="async" width="418" height="564"
              src="https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-shape-1.png"
              class="attachment-full size-full" alt="a"
              srcset="https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-shape-1.png 418w, https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-shape-1-222x300.png 222w"
              sizes="(max-width: 418px) 100vw, 418px">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="qodef-shortcode qodef-m  qodef-pricing-table qodef-layout--standard qodef-status--featured"
          style="background-image: url(https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-bcg-img-2.jpg)">
          <div class="qodef-m-inner">
            <div class="qodef-m-title">
              <p>Solutions</p>
            </div>
            <div class="qodef-m-price">
              <div class="qodef-m-price-wrapper qodef-h1">
                <span class="qodef-m-price-value">Power Your Business with Cloud
                </span>
              </div>
            </div>
            <div class="qodef-m-content">
              <ul>
                <li>Data Science
                </li>
                <li>
                  Cloud</li>
                <li>

                  CRM and ERP</li>
                <li>



                  Ecommerce
                </li>
                <li>
                  Hosting Management</li>
              </ul>
            </div>
            <!-- <div class="qodef-m-button clear">
            <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--outlined   qodef-html--link" href="#"
              target="_self"> <span class="qodef-m-text">Read More</span></a>
          </div> -->
            <button class="btn btn-default-1">READ MORE</button>

          </div>
          <div class="qodef-m-shape" style="text-align:center;">
            <img loading="lazy" decoding="async" width="417" height="644"
              src="https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-shape-2.png"
              class="attachment-full size-full" alt="a"
              srcset="https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-shape-2.png 417w, https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-shape-2-194x300.png 194w"
              sizes="(max-width: 417px) 100vw, 417px">
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="qodef-shortcode qodef-m  qodef-pricing-table qodef-layout--standard qodef-status--regular"
          style="background-image: url(https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-bcg-img-3.jpg)">
          <div class="qodef-m-inner">
            <div class="qodef-m-title">
              <p>Technologies
              </p>
            </div>
            <div class="qodef-m-price">
              <div class="qodef-m-price-wrapper qodef-h1">
                <span class="qodef-m-price-value">Unique Solutions for You
                </span>
              </div>
            </div>
            <div class="qodef-m-content">
              <ul>
                <li>Logo & Identity</li>
                <li>

                  Full Stack Development</li>
                <li>

                  Copywriting & SEO</li>
                <li>

                  Mobile & App Development</li>
                <li>

                  Art Direction</li>
              </ul>
            </div>
            <!-- <div class="qodef-m-button clear">
                    <a class="qodef-shortcode qodef-m  qodef-button qodef-layout--outlined   qodef-html--link" href="#"
                      target="_self"> <span class="qodef-m-text">Read More</span></a>
                  </div> -->
            <button class="btn btn-default-1">READ MORE</button>

          </div>
          <div class="qodef-m-shape" style="text-align:center;">
            <img loading="lazy" decoding="async" width="415" height="564"
              src="https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-shape-3.png"
              class="attachment-full size-full" alt=""
              srcset="https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-shape-3.png 415w, https://deon.qodeinteractive.com/wp-content/uploads/2022/02/Pricing-shape-3-221x300.png 221w"
              sizes="(max-width: 415px) 100vw, 415px">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="intro-section-1 container">
    <div class="row">
      <div class="col-lg-6">
        <div
          class="qodef-shortcode-1 qodef-m qodef-section-title qodef-alignment--left qodef--has-appear qodef--appeared">
          <p class="qodef-m-subtitle" style="transform: translate(0px, 0px); opacity: 1;">Brands</p>
          <h2 class="qodef-m-title" style="margin-top: 9px; transform: translate(0px, 0px); opacity: 1;">
            <a itemprop="url" href="https://deon.qodeinteractive.com/our-process/" target="_self">
              Partners and<br> Long-Term Clients </a>
          </h2>
          <div class="qodef-m-section-text" style="margin-top: 14px; transform: translate(0px, 0px); opacity: 1;">
            Partnering with industry leaders for exceptional solutions.




          </div>
          <div class="qodef-m-button" style="transform: translate(0px, 0px); opacity: 1;">

            <button class="btn btn-default-1">VIEW MORE</button>
          </div>

        </div>
      </div>
      <div class="col-lg-6">
        <div
          class="qodef-shortcode-1 qodef-m  qodef-clients-list qodef-grid qodef-layout--columns  qodef-gutter--normal qodef-col-num--3 qodef-item-layout--image-only qodef-responsive--predefined qodef-hover-animation--fade-in">
          <div class="qodef-grid-inner ">
            <span class="qodef-e qodef-grid-item ">
              <span class="qodef-e-inner">
                <span class="qodef-e-image">
                  <a itemprop="url" href="#" target="_self">
                    <span class="qodef-e-logo">
                      <img loading="lazy" decoding="async" width="187" height="186"
                        src="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-1.png"
                        class="attachment-full size-full" alt="a"
                        srcset="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-1.png 187w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-1-100x100.png 100w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-1-150x150.png 150w"
                        sizes="(max-width: 187px) 100vw, 187px"> </span>
                  </a>
                  <span class="qodef-client-tooltip">
                    <span class="qodef-client-tooltip-text">Video Labs</span>
                  </span>
                </span>
              </span>
            </span>
            <span class="qodef-e qodef-grid-item ">
              <span class="qodef-e-inner">
                <span class="qodef-e-image">
                  <a itemprop="url" href="#" target="_self">
                    <span class="qodef-e-logo">
                      <img loading="lazy" decoding="async" width="187" height="186"
                        src="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-2.png"
                        class="attachment-full size-full" alt="a"
                        srcset="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-2.png 187w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-2-100x100.png 100w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-2-150x150.png 150w"
                        sizes="(max-width: 187px) 100vw, 187px"> </span>
                  </a>
                  <span class="qodef-client-tooltip">
                    <span class="qodef-client-tooltip-text">C Minor</span>
                  </span>
                </span>
              </span>
            </span>
            <span class="qodef-e qodef-grid-item ">
              <span class="qodef-e-inner">
                <span class="qodef-e-image">
                  <a itemprop="url" href="#" target="_self">
                    <span class="qodef-e-logo">
                      <img loading="lazy" decoding="async" width="187" height="186"
                        src="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-3.png"
                        class="attachment-full size-full" alt="a"
                        srcset="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-3.png 187w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-3-100x100.png 100w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-3-150x150.png 150w"
                        sizes="(max-width: 187px) 100vw, 187px"> </span>
                  </a>
                  <span class="qodef-client-tooltip">
                    <span class="qodef-client-tooltip-text">V A Team</span>
                  </span>
                </span>
              </span>
            </span>
            <span class="qodef-e qodef-grid-item ">
              <span class="qodef-e-inner">
                <span class="qodef-e-image">
                  <a itemprop="url" href="#" target="_self">
                    <span class="qodef-e-logo">
                      <img loading="lazy" decoding="async" width="187" height="186"
                        src="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-4.png"
                        class="attachment-full size-full" alt="a"
                        srcset="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-4.png 187w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-4-100x100.png 100w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-4-150x150.png 150w"
                        sizes="(max-width: 187px) 100vw, 187px"> </span>
                  </a>
                  <span class="qodef-client-tooltip">
                    <span class="qodef-client-tooltip-text">Rooster Sound</span>
                  </span>
                </span>
              </span>
            </span>
            <span class="qodef-e qodef-grid-item ">
              <span class="qodef-e-inner">
                <span class="qodef-e-image">
                  <a itemprop="url" href="#" target="_self">
                    <span class="qodef-e-logo">
                      <img loading="lazy" decoding="async" width="187" height="186"
                        src="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-5.png"
                        class="attachment-full size-full" alt="a"
                        srcset="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-5.png 187w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-5-100x100.png 100w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-5-150x150.png 150w"
                        sizes="(max-width: 187px) 100vw, 187px"> </span>
                  </a>
                  <span class="qodef-client-tooltip">
                    <span class="qodef-client-tooltip-text">Unfold</span>
                  </span>
                </span>
              </span>
            </span>
            <span class="qodef-e qodef-grid-item ">
              <span class="qodef-e-inner">
                <span class="qodef-e-image">
                  <a itemprop="url" href="#" target="_self">
                    <span class="qodef-e-logo">
                      <img loading="lazy" decoding="async" width="187" height="186"
                        src="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-6.png"
                        class="attachment-full size-full" alt="a"
                        srcset="https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-6.png 187w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-6-100x100.png 100w, https://deon.qodeinteractive.com/wp-content/uploads/2021/11/Client-img-6-150x150.png 150w"
                        sizes="(max-width: 187px) 100vw, 187px"> </span>
                  </a>
                  <span class="qodef-client-tooltip">
                    <span class="qodef-client-tooltip-text">Generation</span>
                  </span>
                </span>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==================== TESTIMONIAL ====================-->
<section class="testimonial intro-section">
 
    <div class="qodef-shortcode qodef-m  qodef-section-title qodef-alignment--center  ">
      <p class="qodef-m-subtitle" style="transform: translate(0px, 0px); opacity: 1;">Our Testimonial </p>

      <h2 class="qodef-m-title">
        What They Say About Us
      </h2>

    </div>
    <div id="testimonialCarousel" class="carousel slide mb-6" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active ">
     
            <article class="testimonial__card">
              <div class="testimonial__border">
                <img src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTM2MjQ1MTd8&ixlib=rb-4.0.3&q=85" alt="Testimonial 1" class="testimonial__img">
              </div>
              <h2 class="testimonial__name">Celi Loz</h2>
              <p class="testimonial__description">
                I hired a project and the services were of
                quality, the work delivered is of good
                content, excellent work.
              </p>
            </article>
        </div>
        <div class="carousel-item ">
            <article class="testimonial__card">
              <div class="testimonial__border">
                <img src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTM2MjQ1MTd8&ixlib=rb-4.0.3&q=85" alt="Testimonial 3" class="testimonial__img">
              </div>
              <h2 class="testimonial__name">Jane Smith</h2>
              <p class="testimonial__description">
                The professionalism and quality of work
                were outstanding. I highly recommend
                their services.
              </p>
            </article>
        </div>
  
        <div class="qodef-m-inner carousel-control-prev">
          <a itemprop="url" class="qodef-m-nav qodef--prev" href="#" data-bs-target="#testimonialCarousel" data-bs-slide="prev">
            <svg class="qodef-svg--slider-arrow-left" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90"
              enable-background="new 0 0 90 90" xml:space="preserve">
              <circle fill="none" stroke="#C3C4F9" stroke-width="2" stroke-miterlimit="10" cx="45.567" cy="44.925" r="35">
              </circle>
              <path fill="currentColor" stroke="none"
                d="M39.9,45.4L50.6,56l1-0.9L41.4,44.9l10.2-10.2l-0.9-0.9L39.9,44.5L39.9,45.4L39.9,45.4z"></path>
            </svg>
          </a>
        </div>
  
        <div class="qodef-m-inner carousel-control-next">
          <a itemprop="url" class="qodef-m-nav qodef--next" href="#" data-bs-target="#testimonialCarousel" data-bs-slide="next">
            <svg class="qodef-svg--slider-arrow-right" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90"
              enable-background="new 0 0 90 90" xml:space="preserve">
              <circle fill="none" stroke="#C3C4F9" stroke-width="2" stroke-miterlimit="10" cx="45.567" cy="44.925" r="35">
              </circle>
              <path fill="currentColor" stroke="none"
                d="M51.662,45.394L40.958,56.019l-1.016-0.938l10.235-10.156L40.021,34.769l0.938-0.938l10.704,10.625V45.394z">
              </path>
            </svg>
          </a>
        </div>
      </div>
    </div>

</section>


  <section>
    <div class=" qodef-gradient-background-column--dark">
      <div
        class="qodef-shortcode qodef-m qodef-section-title qodef-alignment--center qodef--has-appear qodef--appeared">
        <p class="qodef-m-subtitle" style="color: rgb(255, 255, 255); transform: translate(0px, 0px); opacity: 1;">
          Lakshya Software</p>
        <h2 class="qodef-m-title" style="color: rgb(255, 255, 255); transform: translate(0px, 0px); opacity: 1;">
          <a itemprop="url" href="https://deon.qodeinteractive.com/product/black-phone/" target="_self">
            Reach Out to Us<br> for the Best Solutions </a>
        </h2>
        <div class="qodef-m-button" style="transform: translate(0px, 0px); opacity: 1;">

          <button class="btn btn-default-1">CONTACT US</button>
        </div>

      </div>
    </div>

  </section>
</main>