.btn-default-1 {
  font-family: Archivo, sans-serif;
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: .2em;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: 0;
  transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
  padding: 17px 48px 15px 50px;
  color: #000;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(70deg, #0B006C, #122E51, #003268, #0C6A66, #008066);
  background: 0 0;
}

.btn-default-1:hover,
.previous:hover,
.next:hover {
  background: linear-gradient(45deg, #0B006C 0%, #122E51 31%, #003268 52%, #0C6A66 71%, #008066 97%);
  color: white;

}


.previous,
.next {
  font-family: Archivo, sans-serif;
  font-size: 12px;
  line-height: 1.33em;
  letter-spacing: .2em;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  outline: 0;
  transition: color .2s ease-out, background-color .2s ease-out, border-color .2s ease-out;
  padding: 17px 48px 15px 50px;
  color: #000;
  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(70deg, #0B006C, #122E51, #003268, #0C6A66, #008066);
  background: 0 0;
  height: min-content;
  width: min-content;

}

.qodef-m-subtitle {
  font-size: 13px;
  letter-spacing: 4px;
  line-height: 16px;
  color: #8a8a8a;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Syne, sans-serif;
  margin-bottom: 7px;
}


.qodef-shortcode {
  margin: auto;
  width: 58%;
  display: block;
}

.intro-section {
  margin: 110px auto;
}

.intro-section-1 {
  margin: 50px auto;
}

.qodef-section-title .qodef-m-subtitle {
  font-size: 13px;
  letter-spacing: 4px;
  line-height: 16px;
  color: #8a8a8a;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Heebo, sans-serif;
  margin-bottom: 7px;
}

.services .col-lg-4 {
  // background-color: #F3F3F3;
  padding: 10px;
}

.container-1 {
  position: relative;
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1439px) {

.text {

  position: absolute;
  z-index: 1;
  padding: 10px;

  width: 60%;

}
}
.text h4 {
  font-size: 55px;
}

.image {
  width: 88%;
  z-index: 0;
  flex: auto;
}

.qodef-m-title {
  background-image: -webkit-linear-gradient(45deg, #0B006C 0%, #122E51 29%, #003268 50%, #0C6A66 73%, #008066 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.col-lg-4 .qodef-shortcode {
  width: 100%;
}

.qodef-pricing-table .qodef-m-price .qodef-m-price-wrapper {
  display: flex;
  margin: 0;
  line-height: 1;
  font-size: 25px;
}

.qodef-pricing-table .qodef-m-content {
  margin: 42px 0;
}

.qodef-grid-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns */
}

.qodef-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qodef-e-logo img {
  max-width: 100%;
  height: auto;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .qodef-grid-inner {
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .qodef-grid-inner {
    grid-template-columns: 1fr;
    /* 1 column on mobile */
  }
}

.qodef-gradient-background-column--dark {
  background-image: linear-gradient(60deg, #008066f0 0, #947be1f0 17%, rgba(94, 94, 240, .94) 45%, rgba(93, 145, 239, .94) 83%, rgba(92, 195, 238, .94) 100%);
  padding: 45px;
}
.qodef-gradient-background-column--dark:before {
  background-image: radial-gradient(circle, #008066 0, #008066bf 12.5%, #00806680 25%, #00806640 37.5%, #00806600 50%);
}

// #0B006C ---0%
// #122E51 ----31%
// #003268 ----52%
// #0C6A66 ----71%
// #008066----97% 
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* 
      Change favorite color
      Default: hsl(255, 90%, 60%)
      Orange: hsl(14, 90%, 60%) - Blue: hsl(210, 90%, 50%)
      Pink: hsl(356, 100%, 65%) - Green: hsl(162, 90%, 40%)

      For more colors visit: https://colors.dopely.top/color-pedia
      -> Choose any color 
      -> Click on tab (Color Conversion)
      -> Copy the color mode (HSL)
  */
  --hue: 255;
  --first-color: hsl(var(--hue), 90%, 60%);
  --first-color-alt: hsl(var(--hue), 82%, 56%);
  --first-color-light: hsl(var(--hue), 40%, 80%);
  --title-color: hsl(var(--hue), 24%, 16%);
  --text-color: hsl(var(--hue), 8%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 60%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 100%);
  --shadow-color: hsla(var(--hue), 90%, 30%, 0.1);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.perfil {
  width: 250px;
  height: 250px;
  background-color: var(--body-color);
  border: 8px solid var(--first-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.4s;
}

.perfil__content {
  width: 180px;
  height: 180px;
  border: 10px solid var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(
    180deg,
    hsl(var(--hue), 90%, 80%),
    hsl(var(--hue), 90%, 30%)
  );
}

.perfil__img {
  width: 160px;
}

.main {
  overflow: hidden;
}

/*=============== TESTIMONIAL ===============*/
.testimonial__container {
  position: relative;
}

.testimonial__swiper {
  padding-bottom: 2rem;
}

.testimonial__card {
  background-color: var(--container-color);
  padding: 2rem 1.25rem 2.5rem 1.25rem;
  border-inline: 8px solid var(--first-color);
  box-shadow: 0 12px 24px var(--shadow-color);
  border-radius: 0.5rem;
  text-align: center;
  transition: background-color 0.4s;
}

.testimonial__border {
  width: 100px;
  height: 100px;
  border: 6px solid var(--first-color);
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
}

.testimonial__img {
  filter: grayscale(1);
  transition: filter 0.4s;
}

.testimonial__name {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.testimonial__card:hover .testimonial__img {
  filter: none;
}


/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
  .services__modal {
    padding-inline: 0.5rem;
  }
  .about__skills-content {
    grid-template-columns: repeat(4, max-content);
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .services__container {
    grid-template-columns: repeat(2, 320px);
  }
  .testimonial__container {
    max-width: 700px;
    margin-inline: auto;
  }
  .testimonial__description {
    width: 470px;
    margin-inline: auto;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 2rem;
  }
  .section__title {
    margin-bottom: 3.5rem;
  } 
  .testimonial__card {
    padding-block: 3rem 3.5rem;
  }
  .testimonial__border {
    width: 120px;
    height: 120px;
    margin-bottom: 1.5rem;
  }
}
