<main>

  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container-1 ">
          <!-- <div class="row justify-content-center">
            <div class="col-lg-3"> -->
              <div class="text">
          <p >
            LATEST PRODUCTS</p>
          <h4>  The New Design Of App Era And Tech</h4>
          <button class="btn btn-default-1">VIEW MORE</button></div>
          <!-- </div> class="qodef-m-title text"
            style="color: rgb(255, 255, 255); background-image: -webkit-linear-gradient(45deg,#0B006C 0%,  #122E51 31%,    #003268 52%,    #0C6A66 71%,    #008066 97%); background-clip: text; -webkit-text-fill-color: transparent; transform: translate(0px, 0px); opacity: 1;">
          
            </div>class="btn btn-default-1"
            <div class="col-lg-6"> -->
          <img src="../../assets/images/deon/Home-10-rev-img.png" class="image">
        </div>
      </div>
     
    <!-- <div class="carousel-item ">
      <div class="container ">
        <div class="row justify-content-center">
          <div class="col-lg-3">
            <div class="text-left">
              <p class="qodef-m-subtitle"
                style="color: rgb(151, 151, 151); transform: translate(0px, 0px); opacity: 1;">
                LATEST PRODUCTS</p>
              <h4 class="qodef-m-title"
                style="color: rgb(255, 255, 255); background-image: -webkit-linear-gradient(45deg,#0B006C 0%,  #122E51 31%,    #003268 52%,    #0C6A66 71%,    #008066 97%); background-clip: text; -webkit-text-fill-color: transparent; transform: translate(0px, 0px); opacity: 1;">
                The New Design Of App Era And Tech</h4>
              <button class="btn btn-default-1">VIEW MORE</button>
            </div>
          </div>
          <div class="col-lg-6">
            <img src="../../assets/images/deon/Home-10-rev-img2.png">
          </div>
        </div>
      </div>
    </div> -->
    <div class="qodef-m-inner carousel-control-prev">
      <a itemprop="url" class="qodef-m-nav qodef--prev" href="#" data-bs-target="#myCarousel" data-bs-slide="prev">
        <svg class="qodef-svg--slider-arrow-left" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90"
          enable-background="new 0 0 90 90" xml:space="preserve">
          <circle fill="none" stroke="#C3C4F9" stroke-width="2" stroke-miterlimit="10" cx="45.567" cy="44.925" r="35">
          </circle>
          <path fill="currentColor" stroke="none"
            d="M39.9,45.4L50.6,56l1-0.9L41.4,44.9l10.2-10.2l-0.9-0.9L39.9,44.5L39.9,45.4L39.9,45.4z"></path>
        </svg>
      </a>
    </div>

    <div class="qodef-m-inner carousel-control-next">
      <a itemprop="url" class="qodef-m-nav qodef--next" href="#" data-bs-target="#myCarousel" data-bs-slide="next">
        <svg class="qodef-svg--slider-arrow-right" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="90px" height="90px" viewBox="0 0 90 90"
          enable-background="new 0 0 90 90" xml:space="preserve">
          <circle fill="none" stroke="#C3C4F9" stroke-width="2" stroke-miterlimit="10" cx="45.567" cy="44.925" r="35">
          </circle>
          <path fill="currentColor" stroke="none"
            d="M51.662,45.394L40.958,56.019l-1.016-0.938l10.235-10.156L40.021,34.769l0.938-0.938l10.704,10.625V45.394z">
          </path>
        </svg>
      </a>
    </div>
  </div>
  </div>






  <section class="intro-section">

    <div class="qodef-gradient-background-column--no">

      <div
        class="qodef-shortcode qodef-m qodef-section-title qodef-alignment--center qodef--has-appear qodef--appeared">
        <p class="qodef-m-subtitle" style="color: rgb(151, 151, 151); transform: translate(0px, 0px); opacity: 1;">
          Solutions Simplified</p>
        <h2 class="qodef-m-title qodef-m-title-1"
          style="color: rgb(255, 255, 255); background-image: -webkit-linear-gradient(45deg,#0B006C 0%,  #122E51 31%,    #003268 52%,    #0C6A66 71%,    #008066 97%); background-clip: text; -webkit-text-fill-color: transparent; transform: translate(0px, 0px); opacity: 1;">
          Creative Minds, Technical Expertise</h2>
        <div class="qodef-m-section-text" style="transform: translate(0px, 0px); opacity: 1;">
          <p>We are a team of dedicated, collaborative professionals delivering specialized services for clients
            worldwide, leveraging our extensive experience to solve complex problems. Our willingness to make
            hard choices ensures we achieve the best outcomes and deliver relevant, meaningful solutions.</p>
        </div>
      </div>
    </div>

  </section>

  <!-- 
  <div class="container">
    <div class="text">
        <p>Your text goes here. It will overlap one-fourth of the image on the right.</p>
    </div>
    <img class="image" src="../../assets/images/Aboutimg.jpg" alt="Example Image">
</div> -->





  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll
            blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose
          here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See
            for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
          layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span
            class="text-body-secondary">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really
          intended to be actually read, simply here to give you a better view of what this would look like with some
          actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" /><text x="50%" y="50%"
            fill="var(--bs-secondary-color)" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->

</main>